@media #{$screen} {
  .view-digital-library-gallery {
    padding-bottom: 0;
    background-color: $background-gray;
    font-size: em-calc(16);
  }
  .page-library .gallery-main {
    #filter-panel-filters {
      display: none;
      margin: 0;
      padding: $default-padding $default-padding 0 $default-padding;
      overflow: visible !important;
      background-color: white;
      border: 1px solid $gray-stroke;
      border-top: none;
      position: relative;
      z-index: 90;
      li {
        margin-left: 0;
        margin-right: 1em;
      }
    }

    .filter-panel-toggle {
      display: none;
      margin-bottom: 1.25em;
      border-bottom: 1px solid $gray-stroke;
      &:last-child {
        padding-bottom: 0.5em;
        margin-bottom: 0;
        border-bottom: none;
      }
      h5 {
        color: $body-font-color;
      }
      &.my-lists {
        h5 {
          padding-left: 25px;
          background: sprite($auth-sprites, mylist-icon, 0, 2) no-repeat;
        }
        li {
          margin: 0 0 .25em 1.5em;
        }
      }
      &.grade-level h5 {
        padding-left: 25px;
        background: sprite($main-sprites, gradelevel-icon, 0, 2) no-repeat;
      }
      &.media-type h5 {
        padding-left: 25px;
        background: sprite($main-sprites, media-icon, 0, 2) no-repeat;
      }
      &.subject h5 {
        padding-left: 25px;
        background: sprite($main-sprites, subject-icon, 0, 2) no-repeat;
      }
      li {
        display: inline-block;
        list-style: none;
      }
      .facetapi-facet-prc-favorites-listings a {
        &.filter-selected:hover {
          background-color: $selected-filter-color;
          // Todo - address slight jump on hover...
        }
        a {
          display: none;
        }
      }
      a.facetapi-checkbox,
      a.filter-selected,
      .facetapi-facet-prc-favorites-listings a {
        font-size: 0.85em;
        color: $body-font-color;
        line-height: 35px;
        margin-right: 1.5em;
       }
      a.facetapi-inactive:hover,
      .facetapi-facet-prc-favorites-listings a:hover {
        @include panel(white, 6px);
        border-radius: 6px;
        border-color: $selected-filter-color;
        line-height: 35px;
      }
      a.filter-selected,
      a.facetapi-inactive:focus,
      .facetapi-facet-prc-favorites-listings a:focus {
        @include panel($selected-filter-color, 6px);
        border-radius: 6px;
        font-size: 0.85em;
        color: white;
        line-height: 35px;
        li {
          margin-right: 0 !important;
        }
      }
      a.facetapi-inactive,
      .facetapi-facet-prc-favorites-listings a {
        padding: 7px;
        text-decoration: none;
      }
      input.facetapi-checkbox {
        display: none;
      }
    }
    ul#library-sort {
      display: inline-block;
      margin: 16px 0 10px;
      li {
        display: inline-block;
        width: 75px;
        cursor: pointer;
      }
    }
    #library-date-sort.active.desc:after,
    #library-popularity-sort.active.desc:after {
      content: "▼";
      padding-left: 5px;
    }
    #library-date-sort.active.asc:after,
    #library-popularity-sort.active.asc:after {
      content: "▲";
      padding-left: 5px;
    }
    .view-content .columns {
      .field-name-field-thumbnail {
        margin-left: -0.9375em;
        margin-right: -0.9375em;
        img {
          width: 100%;
          height: auto;
        }
      }
      .field-name-title {
        background: url('../images/gallery-icons/text-icon.png') no-repeat 97% center $parcc-purple;
      }
      .media-type-text .field-name-title,
      .media-type-image .field-name-title {
        background: url('../images/gallery-icons/attachment-icon.png') no-repeat 97% center $icon-gray;
      }
      .media-type-audio .field-name-title,
      .media-type-video .field-name-title {
        background: url('../images/gallery-icons/video-icon.png') no-repeat 97% center $parcc-blue;
      }
      .flagged .field-name-title {
        background-color: $parcc-orange;
      }
      .field-name-post-date {
        margin: em-calc(20) 0;
        color: $icon-gray;
      }
      .field-name-body {
        margin-bottom: 1.5em;
      }
      .field-name-node-link {
        .field-item {
          border-bottom: 1px solid $icon-gray;
          overflow: hidden;
          margin-bottom: 1.5em;
        }

        .field-item a {
          @include parcc_button;
        }
      }
    }
      ul.links .prc_digital_library_comment_email,
      ul.links .pinit {
        display: none;
      }
      .field-name-field-tags {
        float: left;
        max-width: 74%;
        margin-bottom: 20px;
        color: $icon-gray;
        .field-label {
          margin-bottom: 5px;
        }
      }
    }
  .page-library.not-logged-in .gallery-main {
    .view-content .columns ul.links {
      min-width: 0;
    }
    .field-name-field-tags {
      max-width: 100%;
    }
  }
  .page-library .pane-custom.pane-1, .page-library .pane-digital-library-gallery-panel-pane-1{
    background-color: $background-gray;
    position: relative;
    z-index: 100;
  }
  //Overriding the @parcc_button settings.
  .page-library .gallery-main .view-content .columns .field-name-node-link .field-item a {
    float: right;
    margin-bottom: 1.5em;
    color: black;
  }
  .page-node.node-type-digital-library-content {
    #page {
      background-color: white;
    }
    .panel-flexible.panels-flexible-new {
      height: 0;
    }
    .ds-2col > .group-left{
      float: left;
      width: 100%;
    }
    .group-left {
      overflow: hidden;
      ul.tabs.primary {
        margin-bottom: 1em;
      }
      .field-name-post-date {
        @include paragraph;
        @include bold;
      }
      .field-name-field-author-name {
        margin-bottom: 0;
        @include bold;
        .field-items {
          float: none;
        }
      }
      .prc_digital_library_comment_email {
        width: 125px;
        margin: auto;
        list-style: none;
      }
      .prc_digital_library_comment_email a {
        @include parcc_button;
        margin-top: 2em;
        margin-bottom: 2em;
      }
    }
    .ds-2col > .group-right{
      float:left;
      width:100%;
    }
    .group-right {
      overflow: hidden;
      .divider { // Maybe move this to prc_foundation.scss if reused
        overflow: hidden;
        white-space: nowrap;
        line-height: 1.25em;
        @include bold;
      }
      .divider hr {
        display: inline-block;
        width: 100%;
        position: relative;
        top: 14px;
        left: 15px;
        margin-top: 0;
        border: solid $icon-gray;
        border-width: 1px 0 0;
      }
      .field-label-above {
        margin-bottom: 20px;
        clear: both;
      }
      .field-item {
        margin: 10px 0;
      }
      .field-name-field-thumbnail {
        display: none;
      }
      .dictation {
        clear: both;
        li {
          margin: 10px 0 0 0;
          list-style: none;
          font-family: $body-font-family;
          font-weight: normal;
        }
      }
      .field-name-field-tags .field-items {
        .field-item {
          margin-top: 5px;
        }
        .field-item a {
          @include panel(white, 6px);
          border-radius: 6px;
          line-height: 40px;
        }
        .field-item a:hover {
          border-color: $parcc-purple;
          text-decoration: none;
        }
      }
      .field-name-field-standard {
        .taxonomy-term-description,
        p {
          margin-bottom: 0;
        }
      }
      .pane-node-links .divider {
        margin-bottom: .5em;
      }
      ul.links {
        margin-bottom: 5px !important;
        li {
          float: left;
        }
      }
    }
  }
  // Link section styles for gallery view and full view
  .page-node.node-type-digital-library-content .group-right,
  .gallery-main .view-content .columns {
    ul.links {
      float: left;
      margin-bottom: 1em;
      min-width: 35px;
      li {
        padding-left: 0;
        margin-left: 0;
      }
      .prc_digital_library_add_to_favorites a {
        padding: 0 10px;
        background: sprite($auth-sprites, favorite-icon) no-repeat;
      }
      .prc_digital_library_add_to_favorites a:hover, .prc_digital_library_add_to_favorites a.favorited {
        background: sprite($auth-sprites, favorite-icon-selected) no-repeat;
      }
      .flag-like_content a {
        margin-right: 5px;
        padding: 0 0 0 20px;
        background: sprite($auth-sprites, like-icon) no-repeat;
      }
      .flag-like_content a.unflag-action,
      .flag-like_content a:hover {
        background: sprite($auth-sprites, like-icon-hover) no-repeat;
      }
      .flag-like_content .flag-message {
        line-height: 0;
        font-size: 0;
        color: transparent;
      }
    }
  }
  .prc-workflow-state {
    padding-left: $default-padding;
    padding-top: 1em;
  }
}

@media #{$small} {
  .page-library .gallery-main {
    #filter-panel-filters {
      margin: 0 $default-margin;
      padding: $default-padding $default-padding 0 $default-padding;
    }
    ul#library-sort {
      margin-left: $default-margin;
    }
    .view-content .gallery-tiles .columns {
      padding-bottom: 0;
      .flagged .field-name-title {
        background-color: $parcc-orange;
      }
      ul.links {
        .comment_forbidden {
          display: none;
        }
      }
    }
  }
}

@media #{$medium} {
  .page-library .gallery-main {
    #filter-panel-filters {
      margin: 0 $default-margin;
      padding: $default-padding $desktop-padding 0 $desktop-padding;
    }
    ul#library-sort {
      margin-left: $default-margin;
      margin-bottom: 0;
    }
    .view-content .large-4 {
      .field-name-field-thumbnail {
        margin-left: -1.875em;
        margin-right: -1.875em;
        img {
          width: 100%;
          height: auto;
        }
      }
      .field-name-title {
        background: url('../images/gallery-icons/text-icon.png') no-repeat 95% center $parcc-purple;
      }
      .media-type-text .field-name-title,
      .media-type-image .field-name-title {
        background: url('../images/gallery-icons/attachment-icon.png') no-repeat 95% center $icon-gray;
      }
      .media-type-audio .field-name-title,
      .media-type-video .field-name-title {
        background: url('../images/gallery-icons/video-icon.png') no-repeat 95% center $parcc-blue;
      }
      .flagged .field-name-title {
        background-color: $parcc-orange;
      }
    }
  }
  .page-node.node-type-digital-library-content {
    #page,
    #content {
      background: linear-gradient(90deg, white 66.66667%, $background-gray 33.33333%);
    }
    .pane-content-state {
      padding-left: $desktop-padding;
    }
    .ds-2col > .group-left{
      width: 66.666667%
    }
    .ds-2col > .group-right{
      float: left;
      width: 33.33333%;
    }
    .group-right {
      margin-top: 50px;
      .field-name-field-thumbnail {
        display: block;
        margin-bottom: 35px;
        .field-item {
          margin-top: 0;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .node-type-digital-library-content.page-node-edit,
  .node-type-digital-library-content.page-node-prc-revisions {
    #page,
    #content {
      background: $background-gray;
    }
  }
  .page-node.node-type-digital-library-content.page-node-prc-revisions .region-content {
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }
  .prc-workflow-state {
    padding-left: 0;
    padding-top: 1em;
  }
}

